@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaCond-Regular.eot");
  src: url("../fonts/ProximaNovaCond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2"), url("../fonts/ProximaNovaCond-Regular.woff") format("woff"), url("../fonts/ProximaNovaCond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Proxima Nova";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Proxima Nova"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #464646; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1262px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

/*.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}*/
.ibg {
  position: relative; }
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.video-previw {
  overflow: hidden;
  padding-bottom: 56.25%;
  width: 243px;
  height: 243px;
  border-radius: 50%;
  position: absolute;
  top: 14px; }
  .video-previw video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: auto;
    display: none; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

.scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1111;
  background: #000; }

.up {
  position: fixed;
  display: none;
  bottom: 50px;
  right: 10px;
  width: 40px;
  height: 45px;
  background: #000;
  z-index: 11;
  border-radius: 7px 7px 0px 0px;
  cursor: pointer; }

@media (min-width: 767.98px) {
  .up {
    right: 25px;
    width: 50px;
    height: 65px; } }

.up:after,
.up:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff; }

@media (min-width: 767.98px) {
  .up:after,
  .up:before {
    width: 26px; } }

.up:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 14px; }

@media (min-width: 767.98px) {
  .up:before {
    left: 15px; } }

.up:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  right: -4px; }

@media (min-width: 767.98px) {
  .up:after {
    right: -10px; } }

.form__btn {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.form__column {
  padding: 0px 15px; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.8px;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  border: 2px solid #fff;
  position: relative;
  padding: 10px 75px 10px 12px; }
  @media (min-width: 992.98px) {
    .btn {
      padding: 24px 109px 24px 86px;
      font-size: 14px; } }
  .btn:after {
    content: "";
    background-image: url(../img/icons/btn-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 34px;
    height: 11px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 15px; }
    @media (min-width: 992.98px) {
      .btn:after {
        right: 65px; } }
  .btn:hover:after {
    -webkit-animation: btn 2s infinite;
    animation: btn 2s infinite; }
  .btn.fw {
    width: 100%; }

.intro__btn {
  margin-bottom: 34px; }
  @media (min-width: 992.98px) {
    .intro__btn {
      margin-bottom: 64px; } }

.section-btn {
  color: #000;
  padding: 0 70px 0 0; }
  @media (max-width: 576.98px) {
    .section-btn {
      margin-bottom: 34px; } }
  .section-btn:before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 44px;
    height: 2px;
    background-color: #a9946e; }
  .section-btn:after {
    background-image: url(../img/icons/btn-arrow-color.svg);
    width: 58px;
    right: 0; }

@-webkit-keyframes btn {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(20px, 0) scale(1.3);
    transform: translate(20px, 0) scale(1.3);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes btn {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(20px, 0) scale(1.3);
    transform: translate(20px, 0) scale(1.3);
    opacity: 0; }
  100% {
    opacity: 0; } }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.section {
  padding-top: 61px;
  padding-bottom: 100px;
  position: relative; }
  @media (min-width: 992.98px) {
    .section {
      padding-top: 91px;
      padding-bottom: 150px; } }
  .section-body {
    position: relative; }
    @media (min-width: 576.98px) {
      .section-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    @media (min-width: 767.98px) {
      .section-body:after {
        content: "";
        position: absolute;
        width: 4px;
        height: 51px;
        background-color: #a9946e; } }
  .section-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .section-col__mod {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 340px;
      flex: 0 1 340px; }
  .section-title {
    color: #010101;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.36px;
    position: relative;
    margin-bottom: 18px; }
    @media (min-width: 767.98px) {
      .section-title {
        font-size: 48px;
        margin-bottom: 32px; } }
    .section-title:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 151px;
      height: 1px;
      border: 1px solid #000000; }
  .section-text {
    color: #464646;
    line-height: 19px;
    letter-spacing: 0.38px;
    margin-bottom: 16px;
    position: relative; }
    @media (min-width: 767.98px) {
      .section-text {
        line-height: 25px;
        margin-bottom: 32px; } }
    .section-text:before {
      content: "";
      position: absolute;
      top: 11px;
      width: 44px;
      height: 4px;
      background-color: #bea67c; }
  .section__img {
    padding-bottom: 64%;
    -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5); }
  .section__num {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    position: absolute;
    bottom: 0;
    padding-right: 5px; }
    .section__num:after {
      content: "";
      position: absolute;
      bottom: 7px;
      right: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #bea67c; }
    .section__num:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 51px;
      background-color: #a9946e;
      left: 50%;
      margin-left: -2px;
      bottom: -115px; }
    @media (max-width: 992.98px) {
      .section__num {
        bottom: -45px; }
        .section__num:before {
          bottom: -65px; } }
  .section__name {
    opacity: 0.2;
    color: #d0d0d0;
    font-size: 169px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.36px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .section__letter {
    opacity: 0.07;
    color: #bea67c;
    font-family: "Proxima Nova";
    font-size: 396px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute; }

.header {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 31px;
  padding-bottom: 31px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; }
  .header-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-brand-name {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10.8px;
    position: relative; }
    .header-brand-name:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50px;
      margin: -2px;
      width: 64px;
      height: 4px;
      background-color: #bea67c; }

.page-menu {
  margin-left: 230px;
  display: none; }
  @media (min-width: 1200px) {
    .page-menu {
      display: block; } }
  .page-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .page-menu li {
    margin-right: 100px; }
    .page-menu li:last-child {
      margin-right: 0; }
  .page-menu__link {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .page-menu__link:hover {
      opacity: 1; }

.header-langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-langs__info {
    color: #ffffff;
    opacity: 0.5;
    font-size: 16px;
    margin-right: 16px; }
    @media (min-width: 767.98px) {
      .header-langs__info {
        font-size: 23px;
        margin-right: 52px; } }
  .header-langs__lang {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    position: relative;
    padding-right: 12px;
    cursor: pointer; }
    .header-langs__lang i {
      position: absolute;
      top: -1px;
      right: 0;
      color: #a9946e; }

.header-menu {
  position: fixed;
  width: 100%;
  top: -200%;
  left: 0;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  @media (min-width: 767.98px) {
    .header-menu {
      width: 30.7%; } }
  .header-menu.active {
    top: 0; }
  .header-menu__list li {
    text-align: center; }
  .header-menu__link {
    font-size: 32px;
    line-height: 48px;
    border-bottom: 2px solid transparent;
    display: block;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .header-menu__link:hover {
      border-bottom: 2px solid #fff; }

.header-menu__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 18px;
  padding-left: 30px;
  cursor: pointer;
  z-index: 5;
  color: #ffffff;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  opacity: 0.5; }
  .header-menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #bea67c; }
    .header-menu__icon span:first-child {
      top: 0px; }
    .header-menu__icon span:last-child {
      top: auto;
      bottom: 0px; }
  .header-menu__icon.active span {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
    .header-menu__icon.active span:first-child {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 8px; }
    .header-menu__icon.active span:last-child {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      bottom: 8px; }

/*
font-family: "FontAwesome";



\f1d8 <i class="far fa-paper-plane"></i>  - самолетик
\f10d <i class="fas fa-quote-left"></i>  - кавычки
\f00e <i class="fas fa-search-plus"></i>
\f0c1 <i class="fas fa-link"></i>  --  линк
\f061 <i class="fas fa-arrow-right"></i>
\f060 <i class="fas fa-arrow-left"></i>
\f107 <i class="fas fa-angle-down"></i>  -  angle-down
\f106 <i class="fas fa-angle-up"></i>  -  angle-up
\f3cd - телефон
\f058 - check
\f406 - account
\f002, <i class="fas fa-search"></i> - поиск
\f07a, <i class="fas fa-shopping-cart"></i>
\f005, <i class="fas fa-star"></i> - звезда
\f1b9, <i class="fas fa-car"></i>
\f2f6, <i class="fas fa-sign-in-alt"></i> - лог ин
\f0e0, <i class="fas fa-envelope"></i> - конверт
\f879, <i class="fas fa-phone-alt"></i> - трубка телефона
\f3c5, <i class="fas fa-map-marker-alt"></i> - локация
\f017, <i class="far fa-clock"></i> - часы


СОЦСЕТИ
\f39e, <i class="fab fa-facebook-f"></i>
\f099, <i class="fab fa-twitter"></i>
\f0d5, <i class="fab fa-google-plus-g"></i>
\f231, <i class="fab fa-pinterest-p"></i>
\f16d, <i class="fab fa-instagram"></i>

*/
.intro-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 576.98px) {
    .intro-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.intro-col__slider {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 55%;
  flex: 1 1 55%;
  min-width: 0; }

.intro-col__bg {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  height: 100vh;
  background-image: url(../img/intro-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 767.98px) {
    .intro-col__bg {
      display: none; } }

.intro-contant {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%; }
  .intro-contant__wrapper {
    padding-top: 55px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }

.intro-title {
  color: #bea67c;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10.01px;
  margin-bottom: 57px; }
  @media (min-width: 767.98px) {
    .intro-title {
      font-size: 100px;
      line-height: 99.96px;
      letter-spacing: 20.01px; } }

.intro-slider__slide {
  min-width: 0;
  height: calc(100vh - 42px);
  background-image: url(../img/slider-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.intro-slider__nav {
  position: absolute;
  top: 0;
  left: 0; }

.intro-slider__current {
  color: #bea67c;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9px;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  position: relative;
  margin-bottom: 24px;
  padding-top: 34px; }
  @media (min-width: 992.98px) {
    .intro-slider__current {
      line-height: 100px;
      font-size: 90px;
      padding-top: 71px;
      margin-bottom: 71px; } }
  .intro-slider__current:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 27px;
    background-color: #c0af91; }
    @media (min-width: 992.98px) {
      .intro-slider__current:after {
        height: 51px; } }

.intro-slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .intro-slider__dots li {
    cursor: pointer; }
  .intro-slider__dots .slick-active span {
    background-color: #bea67c;
    opacity: 1; }

.intro-slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #303030;
  opacity: 0.3;
  margin-bottom: 18px;
  display: inline-block; }
  @media (min-width: 992.98px) {
    .intro-slider__dot {
      margin-bottom: 38px; } }

.intro-scroll__link {
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative; }
  .intro-scroll__link:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scr 2s infinite;
    animation: scr 2s infinite; }
  .intro-scroll__link:after {
    content: "";
    background-image: url(../img/icons/btn-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 11px;
    height: 74px;
    position: absolute;
    left: 50%;
    top: 130%;
    margin-left: -6px;
    -webkit-animation: scr 2s infinite;
    animation: scr 2s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

.intro-scroll__text {
  opacity: 0.1;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  position: absolute;
  top: 76px;
  left: -45px; }
  @media (min-width: 767.98px) {
    .intro-scroll__text {
      top: 165px;
      left: -24px; } }

@-webkit-keyframes scr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes scr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes col {
  0% {
    opacity: 0.1; }
  40% {
    opacity: 0.5; }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 0.1; } }

@keyframes col {
  0% {
    opacity: 0.1; }
  40% {
    opacity: 0.5; }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 0.1; } }

.section-01 .section-body {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .section-01 .section-body:after {
    top: -115px;
    right: 0; }

.section-01 .section-col__mod {
  margin-right: 48px; }

.section-01 .section-title:before {
  left: 90%; }
  @media (min-width: 576.98px) {
    .section-01 .section-title:before {
      left: initial;
      right: 115%; } }

.section-01 .section-text:before {
  left: 100%; }
  @media (min-width: 576.98px) {
    .section-01 .section-text:before {
      left: initial;
      right: 115%; } }

.section-01 .section__name {
  right: -50%; }

.section-01 .section__num {
  left: 0; }

.section-01 .section__letter {
  left: 349px;
  bottom: 75%; }

.section-02 .section-col__mod {
  text-align: right;
  margin-left: 48px; }

@media (max-width: 576.98px) {
  .section-02 .section__img {
    margin-bottom: 27px; } }

.section-02 .section-title:before {
  right: 56%; }
  @media (min-width: 576.98px) {
    .section-02 .section-title:before {
      right: initial;
      left: 115%; } }

.section-02 .section-text:before {
  right: 98%; }
  @media (min-width: 576.98px) {
    .section-02 .section-text:before {
      right: initial;
      left: 115%; } }

.section-02 .section__name {
  left: -27%; }

.section-02 .section__num {
  right: 0; }

.section-02 .section__letter {
  right: 277px;
  bottom: 75%; }

.section-03 {
  text-align: center; }
  .section-03 .section-title:before {
    display: none; }
  .section-03 .section-text {
    display: inline-block;
    max-width: 545px;
    margin-bottom: 40px; }
    @media (min-width: 767.98px) {
      .section-03 .section-text {
        margin-bottom: 94px; } }
    .section-03 .section-text:before {
      top: -14px;
      left: 50%;
      margin-left: -22px; }

.video-previw__list li {
  display: inline-block; }
  @media (min-width: 600px) {
    .video-previw__list li {
      margin-right: 80px; }
      .video-previw__list li:last-child {
        margin-right: 0; } }

.video-previw__item {
  width: 272px;
  height: 272px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  padding: 14px;
  margin-bottom: 43px;
  position: relative; }

.video-previw__poster {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }
  .video-previw__poster.poster-01 {
    background-image: url(../img/video-previw__poster-01.png); }
  .video-previw__poster.poster-02 {
    background-image: url(../img/video-previw__poster-02.png); }
  .video-previw__poster.poster-03 {
    background-image: url(../img/video-previw__poster-03.png); }

.video-previw__play {
  background-image: url(../img/video-previw__play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 68px;
  height: 68px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .video-previw__play:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.3);
    -ms-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3); }

.video-previw__name {
  color: #000000;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.4px;
  position: relative;
  font-size: 16px; }
  .video-previw__name:after {
    content: "";
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -12px;
    width: 25px;
    height: 1px;
    border: 1px solid #bea67c; }

.section-04 {
  background-image: url(../img/play-bg.png), url(../img/play-bg-01.png);
  background-position: 80%, center;
  background-size: 42%, cover;
  background-repeat: no-repeat, no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 135px; }
  @media (min-width: 767.98px) {
    .section-04 {
      padding: 90px 0px; } }
  .section-04 .section-title {
    color: #bea67c; }
    @media (max-width: 767.98px) {
      .section-04 .section-title {
        font-size: 22px; } }
    @media (max-width: 992.98px) {
      .section-04 .section-title {
        font-size: 32px;
        margin-bottom: 8px; } }
    .section-04 .section-title:before {
      border: 1px solid #fff;
      top: 14px;
      left: -171px; }
  .section-04 .section-text {
    color: #fff; }
    @media (max-width: 992.98px) {
      .section-04 .section-text {
        line-height: 16px; } }
    .section-04 .section-text:before {
      left: -75px; }
  .section-04 .section-btn {
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 10px 12px 10px 60px; }
    @media (min-width: 992.98px) {
      .section-04 .section-btn {
        padding: 24px 77px 24px 107px; } }
    .section-04 .section-btn:after {
      display: none; }
    .section-04 .section-btn:before {
      content: "\f144";
      font-family: "FontAwesome";
      width: inherit;
      height: inherit;
      background-color: inherit;
      bottom: inherit;
      font-size: 23px;
      top: 50%;
      left: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (min-width: 992.98px) {
        .section-04 .section-btn:before {
          left: 50px; } }
    .section-04 .section-btn:hover {
      color: #bea67c; }
      .section-04 .section-btn:hover:before {
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        color: #bea67c; }

.section-contant {
  position: absolute; }
  @media (min-width: 767.98px) {
    .section-contant {
      top: 50%;
      left: 53%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  @media (min-width: 576.98px) and (max-width: 767.98px) {
    .section-contant {
      margin-left: 122px; } }

.section-video {
  width: 80%;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 767.98px) {
    .section-video {
      min-height: 198px; } }
  @media (min-width: 767.98px) {
    .section-video {
      border: 2px solid #bea67c;
      padding-bottom: 40.25%; } }
  .section-video video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .section-video__close {
    position: absolute;
    opacity: 0;
    top: -16px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #bea67c;
    color: #000;
    font-size: 17px;
    cursor: pointer; }
    @media (min-width: 767.98px) {
      .section-video__close {
        top: -25px;
        right: -25px;
        width: 50px;
        height: 50px;
        font-size: 28px; } }

@media (max-width: 576.98px) {
  .section-05 {
    padding-bottom: 50px; } }

@media (min-width: 767.98px) {
  .section-05 {
    padding-top: 138px; } }

.section-05 .section-body:after {
  content: "";
  display: none; }

.section-05 .section-col__mod {
  margin-left: 98px;
  padding-top: 93px; }

.section-05 .section-title:before {
  left: -184px; }

.section-05 .section-text:before {
  left: -77px; }

.section-05 .section__name {
  left: -55px; }

.section-05 .section__letter {
  top: -169px;
  right: 216px;
  z-index: -1; }

.footer {
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 24px 0px; }
  .footer-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 576.98px) {
      .footer-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .footer__cpt {
    color: #464646;
    text-transform: uppercase;
    letter-spacing: 0.38px; }
  .footer__des {
    color: #464646;
    letter-spacing: 0.38px; }
    .footer__des span {
      color: #7d7d7d; }
  .footer-brand__name {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10.8px;
    position: relative; }
    @media (max-width: 576.98px) {
      .footer-brand__name {
        margin-top: 21px;
        margin-bottom: 21px; } }
    .footer-brand__name:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 36px;
      width: 54px;
      height: 4px;
      background-color: #bea67c;
      margin-top: -2px; }

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100; }
  .popup.active .popup-content {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .popup.show {
    display: block; }
    .popup.show .popup-content {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.popup-table {
  height: 100%;
  table-layout: fixed; }
  .popup-table > .cell {
    height: 100%;
    vertical-align: middle;
    padding: 30px 10px; }

.popup-content {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff; }

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat; }

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0; }

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none; }
  .popup-video__value iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; }
