//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Proxima Nova";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1250;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "ui/_null";

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
  font-size: 15px;

  font-style: normal;
  font-weight: 400;
  color: #464646;

  &.lock {
    overflow: hidden;
  }
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $md1+px) {
    max-width: 970px;
  }

  @media (max-width: $md2+px) {
    max-width: 750px;
  }

  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
.section {}

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "_vars";
@import "ui/_ui";
@import "ui/_up";
@import "ui/_forms";
@import "ui/_btn";
@import "ui/_slick";
@import "blocks/_section-all";

@import "blocks/_header";
@import "blocks/_intro";
@import "blocks/_section-01";
@import "blocks/_section-02";
@import "blocks/_section-03";
@import "blocks/_section-04";
@import "blocks/_section-05";

@import "blocks/_footer";
@import "blocks/_popup";