//<BUTTONS>====================================================================================================
.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  &:hover {
    
  }
  &.fw {
    width: 100%;
  }
}
//</BUTTONS>====================================================================================================
