.intro {
	&-body {
		display: flex;
		justify-content: space-between;

		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}
	&-col__slider {
		flex: 1 1 55%;
		min-width: 0;
	}
	&-col__bg {
		flex-basis: 45%;
		height: 100vh;
		background-image: url(../img/intro-bg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&-contant {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		&__wrapper {
			padding-top: 55px;
			width: 100%;
			display: flex;
			justify-content: center;
			position: relative;
		}
	}
	&-title {
		color: #bea67c;
		font-family: "Proxima Nova";
		font-size: 32px;
		font-weight: 700;

		text-transform: uppercase;
		letter-spacing: 10.01px;
		margin-bottom: 57px;

		@media (min-width: $md3+px) {
			font-size: 100px;
			line-height: 99.96px;
			letter-spacing: 20.01px;
		}
	}
}
.intro-slider {
	&__slide {
		min-width: 0;
		height: calc(100vh - 42px);
		background-image: url(../img/slider-bg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__nav {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__current {
		color: #bea67c;
		font-family: "Proxima Nova";
		font-size: 32px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 9px;
		writing-mode: tb-rl;
		position: relative;
		margin-bottom: 24px;
		padding-top: 34px;
		@media (min-width: $md2+px) {
			line-height: 100px;
			font-size: 90px;
			padding-top: 71px;
			margin-bottom: 71px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -2px;
			width: 4px;
			height: 27px;
			background-color: #c0af91;

			@media (min-width: $md2+px) {
				height: 51px;
			}
		}
	}
	&__dots {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		li {
			cursor: pointer;
		}
		.slick-active {
			span {
				background-color: #bea67c;
				opacity: 1;
			}
		}
	}
	&__dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #303030;
		opacity: 0.3;
		margin-bottom: 18px;
		display: inline-block;

		@media (min-width: $md2+px) {
			margin-bottom: 38px;
		}
	}
}
.intro-scroll {
	&__link {
		width: 30px;
		height: 50px;
		border: 2px solid #fff;
		border-radius: 13px;
		display: inline-flex;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 10px;
			left: 50%;
			width: 6px;
			height: 6px;
			margin-left: -3px;
			background-color: #fff;
			border-radius: 100%;
			animation: scr 2s infinite;
		}

		&:after {
			content: "";
			background-image: url(../img/icons/btn-arrow-down.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 11px;
			height: 74px;
			position: absolute;
			left: 50%;
			top: 130%;
			margin-left: -6px;
			animation: scr 2s infinite;
			animation-delay: 1s;
		}
	}
	&__text {
		opacity: 0.1;
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		line-height: 70px;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		writing-mode: tb-rl;
		position: absolute;
		top: 76px;
		left: -45px;

		@media (min-width: $md3+px) {
			top: 165px;
			left: -24px;
		}
	}
}
@keyframes scr {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes col {
	0% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.1;
	}
}
