.section-05 {
	@media (max-width: $md4+px) {
		padding-bottom: 50px;
	}
	@media (min-width: $md3+px) {
		padding-top: 138px;
	}
	.section-body {
		&:after {
			content: "";
			display: none;
		}
	}
	.section-col__mod {
		margin-left: 98px;
		padding-top: 93px;
	}
	.section-title {
		&:before {
			left: -184px;
		}
	}
	.section-text {
		&:before {
			left: -77px;
		}
	}
	.section__name {
		left: -55px;
	}

	.section__letter {
		top: -169px;
		right: 216px;
		z-index: -1;
	}
}
