.section-03 {
	text-align: center;
	.section-title {
		&:before {
			display: none;
		}
	}
	.section-text {
		display: inline-block;
		max-width: 545px;
		margin-bottom: 40px;

		@media (min-width: $md3+px) {
			margin-bottom: 94px;
		}
		&:before {
			top: -14px;
			left: 50%;
			margin-left: -22px;
		}
	}
}
.video-previw {
	&__list {
		li {
			display: inline-block;

			@media (min-width:600px) {
				margin-right: 80px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__item {
		width: 272px;
		height: 272px;
		border: 1px solid #e1e1e1;
		border-radius: 50%;
		padding: 14px;
		margin-bottom: 43px;
		position: relative;
	}
	&__poster {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		&.poster-01 {
			background-image: url(../img/video-previw__poster-01.png);
		}
		&.poster-02 {
			background-image: url(../img/video-previw__poster-02.png);
		}
		&.poster-03 {
			background-image: url(../img/video-previw__poster-03.png);
		}
	}
	&__play {
		background-image: url(../img/video-previw__play.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 68px;
		height: 68px;
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		@include anim(0.5s, 0s);
		&:hover {
			transform: translate(-50%, -50%) scale(1.3);
		}
	}
	&__name {
		color: #000000;
		line-height: 24px;
		font-weight: bold;
		letter-spacing: 0.4px;
		position: relative;
		font-size: 16px;
		&:after {
			content: "";
			position: absolute;
			top: -16px;
			left: 50%;
			margin-left: -12px;
			width: 25px;
			height: 1px;
			border: 1px solid #bea67c;
		}
	}
}
